<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" type="text/css" href="/css/intropage.css">
        <title>Tom Anderson</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" src="/js/jquery.easing.1.3.js"></script>
        <script type="text/javascript" src="/js/coursespage.js"></script>
    </head>
    
    <nav>
        <a href="/">
            <h1>TOM ANDERSON</h1>   
        </a>
    </nav>

    <body>
        
        <div class="bmenudiv">
            <ul class="bmenu">                
                <li>
                    <a href="mailto:immranderson@gmail.com">Contact</a>
                </li>              
               
                <li>
                    <a href="https://github.com/immranderson">Github</a>
                </li>
                
                <li>
                    <a href="http://www.linkedin.com/in/immranderson/">LinkedIn</a>
                </li>
                
                <li>
                    <a href="/files/TomAndersonResume-CS6.pdf">Resume</a>
                </li>
                
                <li>
                    <a href="/">Home</a>
                </li>
            </ul>
        </div>
        
        
        <div class="content">
            <ul id="sdt_menu" class="sdt_menu">
                <li>
                    <a href="#openAboutAndroid101">
                        <img src="/images/Android101.png" alt=""/>
                        <span class="sdt_active"></span>
                        <span class="sdt_wrap">
                            <span class="sdt_link">Android 101</span>
                            <span class="sdt_descr">For People Who Have Never Coded Before</span>
                        </span>
                    </a>
                    <div class="sdt_box">
                            <a href="#openAboutAndroid101">About</a>
                            <a href="https://drive.google.com/folderview?id=0B_ZhEjrHHspcajZaajBIaDZfMDg&usp=sharing">Course Materials</a>
                    </div>
                </li>

                <li>
                    <a href="#openAboutColors">
                        <img src="/images/Teal.png" alt=""/>
                        <span class="sdt_active"></span>
                        <span class="sdt_wrap">
                            <span class="sdt_link">Colors</span>
                            <span class="sdt_descr">How We Use Numbers To Represent Colors</span>
                        </span>
                    </a>
                    <div class="sdt_box">
                        <a href="#openAboutColors">About</a>
                    </div>
                </li>
            </ul>
        </div>

<div id="openAboutAndroid101" class="modalDialog">
    <div>
        <a href="#close" title="Close" class="close">X</a>
        <h2>About The Class</h2>
        <p>I find that a lot of programming classes that have been offered assume that the student already has at least a light background of
            coding. I set out to create a class targeted towards the population of people that have never coded before!</p>
        <p>In this course, I will introduce some key computer science concepts, and show you how to understand their relation to Android and Mobile Development.
           The second portion of the course will enable students to apply the concepts they have just learned in order to create their own application. </p>
    </div>
</div>

<div id="openAboutColors" class="modalDialog">
    <div>
        <a href="#close" title="Close" class="close">X</a>
        <h2>About The Class</h2>
        <p> People everywhere in the industry use fancy letters and numbers all the time to represent colors! However, a vast majority of them don't really
            understand why... This course aims to explain exactly what's going on and give the student a firm understanding of the theory of how we use 
            numbers to represent colors in our day to day lives!</p>
    </div>
</div>
 
    </body>

</html>