<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" type="text/css" href="/css/intropage.css">
        <title>Tom Anderson</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <nav>
        <a href="/">
            <h1>TOM ANDERSON</h1>   
        </a>
    </nav>
    <body>
        <div class="bmenudiv">
              <ul class="bmenu">
                
                <li>
                    <a href="mailto:immranderson@gmail.com">Contact</a>
                </li>

                <li>
                    <a href="/courses/">Courses</a>
                </li>                
               
                <li>
                    <a href="https://github.com/immranderson">Github</a>
                </li>
                
                <li>
                    <a href="http://www.linkedin.com/in/immranderson/">LinkedIn</a>
                </li>
                
                <li>
                    <a href="/files/TomAndersonResume-CS6.pdf">Resume</a>
                </li>
                
                <li>
                    <a href="/">Home</a>
                </li>
            </ul>
        </div>
        <main>


<div id="googlePlay">
            <section class="card" id="aboutMe">
                <h1> About </h1>

                <h2> EmotionLine was built by myself within a 24-hour period during the 2013 Techcrunch Disrupt San Francisco Hackathon. 
                    The idea came about when I found myself pre-occupied with the idea of how there were plenty of services in which you
                    could keep a journal, but how those services did nothing with that data except store it. I figured, wouldn't it be nice
                    if there was an app out there where it would be dead simple to not only record how your day was going, but also use that
                    information to give you ideas on how to improve your life? My ultimate goal with EmotionLine is to reduce the global rate
                    of suicide and spread positivity throughout the world.
                    </h2>
                

            </section>


</div>
            <section class="card">
                <h1>Tell the app about your day!</h1>
                <img class="screenshot" src="/images/EmotionLineTalk.png" />
            </section>
            
             <section class="card">
                <h1>Use the information to empower you!</h1>
                <img class="screenshot" src="/images/EmotionLineResult.png" />
            </section>
            
            <section class="card">
                <h1>The 1 Minute Pitch</h1>
            <iframe src='http://www.snappytv.com/snap/emotionline-demo-at-hackathon-sf-2013-about-techcrunch-disrupt-sf-hackathon-2013-on-hackathon-at-techcrunch-disrupt-sfo-13_tw?w=640&h=390'  width = '400' height='250' frameborder='0' scrolling='no' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
            </section>

        </main>
    </body>

</html>