<!DOCTYPE html>
<html>

    <head>
        <link rel="stylesheet" type="text/css" href="/css/intropage.css">
        <title>Tom Anderson</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>

    <nav>
        <a href="/">
            <h1>TOM ANDERSON</h1>   
        </a>
    </nav>
    <body>
        <div class="bmenudiv">
              <ul class="bmenu">
                
                <li>
                    <a href="mailto:immranderson@gmail.com">Contact</a>
                </li>

                <li>
                    <a href="/courses/">Courses</a>
                </li>                
               
                <li>
                    <a href="https://github.com/immranderson">Github</a>
                </li>
                
                <li>
                    <a href="http://www.linkedin.com/in/immranderson/">LinkedIn</a>
                </li>
                
                <li>
                    <a href="/files/TomAndersonResume-CS6.pdf">Resume</a>
                </li>
                <li>
                    <a href="/">Home</a>
                </li>
            </ul>
        </div>
        <main>


<div id="googlePlay">
            <section class="card" id="aboutMe">
                <h1> About </h1>

                <h2> The Hacker Dojo is a community center for hackers and tinkerers based out of Mountain View. The first day I arrived
                to the Dojo, I cloned the Android app off of github and started hacking away! </h2>
                
                                <a href="https://play.google.com/store/apps/details?id=com.hackerdojo.android.infoapp"> <img alt="Get it on Google Play"
                src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png" /> </a>
            </section>


</div>
            <section class="card">
                <h1>Version 3</h1>
                <img class="screenshot" src="/images/HackerDojo3.png" />
            </section>
            
             <section class="card">
                <h1>Version 2</h1>
                <img class="screenshot" src="/images/HackerDojo2.png" />
            </section>

        </main>
    </body>

</html>