<!DOCTYPE html>
<html>

    <head>


        <link rel="stylesheet" type="text/css" href="/css/intropage.css">
        <script type="application/dart" src="/dart/intropage.dart"></script>
        <script type="text/javascript" src="/dart/dart.js"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" ></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/js/mainpage.js"></script>      
        <title>Tom Anderson</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        
        
        
    </head>
    

       
    <nav>
        <a href="/">
            <h1 id="name">TOM ANDERSON</h1>   
        </a>
               
    </nav>
    <body>
        <div class="bmenudiv">
            <ul class="bmenu">                
                <li>
                    <a href="mailto:immranderson@gmail.com">Contact</a>
                </li>

                <li>
                    <a href="/courses/">Courses</a>
                </li>                
               
                <li>
                    <a href="https://github.com/immranderson">Github</a>
                </li>
                
                <li>
                    <a href="http://www.linkedin.com/in/immranderson/">LinkedIn</a>
                </li>
                
                <li>
                    <a href="/files/TomAndersonResume-CS6.pdf">Resume</a>
                </li>
            </ul>
        </div>
        <main>
            

            
            <section class="card" id="aboutMe">
                <h1> About Me </h1>

                <h2> Hello!
                I recently relocated to the Bay Area from the Chicagoland area to pursue my dream of becoming an awesome
                software developer! I ended up falling in love with the Android platform, but still find myself dabbling in 
                several other technologies across the spectrum. I've designed and built this portfolio website on my own in my spare time, 
                and I use this site to sharpen my HTML5, CSS3, Python, Google App Engine, Javascript, and JQuery abilities (soon to include Dart!). Feel free
                to click on different project images to view more details if available!
                <br>Best,
                <br>Tom Anderson
                 </h2>
            </section>
            
            <section class="card" id="hackerDojo">
                <h1>Hacker Dojo App</h1>
                <a href="/android/hackerdojo">
                <img class="screenshot" src="/images/HackerDojo3.png" />
                </a>
            </section>

            <section class="card" id="emotionLine">
                <h1>EmotionLine</h1>
                <a href="/android/emotionline">
                <img class="screenshot" src="/images/EmotionLine.png" />
                </a>
            </section>

            <section class="card" id="numberConverter">
                <h1>Number Converter</h1>
                <img class="screenshot" src="/images/NumberConverter.png" />
            </section>



        </main>
</body>

</html>